<!DOCTYPE html>
<html>
<head>
  <title>{{ anime.title }}</title>
  <link 
  rel="stylesheet" 
  href="{{ url_for('static', filename='style.css') }}"
  />
</head>
<body>
  <div class="container">
    <h1>{{ anime.title }}</h1>
    <div class="anime-info">
      <img src="{{ anime.images.jpg.image_url }}" alt="{{ anime.title }} poster" class="poster">
      <p><strong>Score:</strong> ⭐ {{ anime.score }}</p>
      <p><strong>Episodes:</strong>  {{ anime.episodes }}</p>
      <p><strong>Status:</strong> {{ anime.status }}</p>
      <p><strong>Description:</strong> {{ anime.synopsis }}</p>
    </div>
    <a class="nav-link" href="/">⬅ Back to Home Page</a>
  </div>
</body>
</html>