<!DOCTYPE html>
<html>
<head>
  <title> Anime </title>
  <link 
  rel="stylesheet" 
  href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
  <div class="container">
    <h1> Anime </h1>
    <a 
    class="nav-link" 
    href="/search">🔍 Search Anime 
    </a>
    <ul class="anime-list">
      {% for anime in anime_list %}
        <li>
          <a href="/anime/{{ anime.mal_id }}"><strong>{{ anime.title }}</strong></a>
          <span class="score"> ⭐ {{ anime.score }}</span>
        </li> <!--Used for list items-->
      {% endfor %}
    </ul> <!--Unordererd List-->>
  </div>
</body>
</html>