<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Search Anime </title>
    <link 
      rel="stylesheet" 
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Search Anime</h1>
      <div class="card-container"></div>
    <a 
    class="nav-link" 
    href="/">⬅ Back to Home Page</a>
    <form method="post" class="search-form">
      <input 
      type="text" 
      name="query" 
      placeholder="Type anime title..." 
      value="{{ query }}" 
      required>
      <input 
      type="submit" value=
      "Search">
    </form> 
    {% if anime_list %}
      <ul class="anime-list">
        {% for anime in anime_list %}
          <li>
            <a href="/anime/{{ anime.mal_id }}"><strong>{{ anime.title }}</strong></a>
            <span class="score"> {{ anime.score }}</span>
          </li>
        {% endfor %}
      </ul>
    {% elif query %}
      <p>No results found for "<strong>{{ query }}</strong>".</p>
    {% endif %}
  </div>
</body>
</html>